<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/lead</property>
    <property name="hibernate.connection.username">travis</property>
    <property name="hibernate.connection.password"/>
    <property name="show_sql">true</property>
    <mapping resource="com/javachap/domain/mappings/User.hbm.xml"/>
    <mapping resource="com/javachap/domain/mappings/Category.hbm.xml"/>
    <mapping resource="com/javachap/domain/mappings/Lead.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
